.budget_card .card_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.budget_card .friend_list_and_add_more{
    display: flex;
}

.budget_card .friend_list_and_add_more img{
    margin: 16pt auto 16pt 0;
}

.budget_card #friend_list{
    display: flex;
    margin-left: 16pt;
}

.budget_card #friend_list div{
    margin: auto 4pt auto 0;
}

.budget_card .title{
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0 16pt 16pt 16pt;
}
.budget_card .title img{
    margin: 0 8pt 0 0;
}

.budget_card .cover{
    width: 100%;
    height: 140pt;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.budget_card .progress_bar{
    margin: 16pt 16pt 0 16pt;
}

.budget_card .brick{
    height: 16pt;
}

.budget_card .transfer_money_btn{
    margin: 16pt 16pt 0 16pt;
}

.budget_card .text_input{
    margin: 16pt 16pt 0 16pt;
}