.bank_card_item{
    padding: 16pt;
    margin-bottom: 8pt;
}

.bank_card_item .card_top{
    display: flex;
    justify-content: space-between;
    height: 32px;
}

.bank_card_item .card_number, .bank_card_item .card_date{
    margin-top: 16pt;
}
