.text_input{
    display: flex;
    align-items: center;
}

.text_input_field{
    box-sizing: border-box;
    background: none;
    padding: 4pt;
    border-radius: 4pt;
    font-size: 16pt;
    line-height: 21pt;
    height: 36pt;
    width: 100%;
    padding-left: 44px;
}

.text_input .submit_icon{
    height: 36pt;
    margin-left: -76px;
    cursor: pointer;
}

.text_input .us_dollar_icon{
    height: 24pt;
    position: absolute;
    margin-left: 8pt;
}

.line{
    width: 1pt;
    height: 24pt;
    position: absolute;
    margin-left: 24pt;
}

.text_input_standard h3{
    padding-bottom: 4pt;
}

.text_input_standard .text_input_field{
    padding-left: 8pt;
}

.text_input_standard .label{
    display: flex;
}
.text_input_standard .is_required{
    margin-left: 4pt;
}